.x-title {
    color: #ffff;
    padding-left: 16px;
    padding-right: 16px;
}

.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    padding-right: 16px;
  padding-left: 16px;
  }
  
  .tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px
  }
  
  .tw-followCard-info {
    display: flex;
    flex-direction: column;
  }
  
  .tw-followCard-infoUserName {
    opacity: .6;
  }

  .x-link-profile{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.x-link-profile:hover{
    text-decoration: underline
  }
  
  .tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
  }
  
  .tw-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
  }
  
  .tw-followCard-button:hover {
    opacity: .8;
  }
  
  .tw-followCard-text {
    display: block;
  }
  
  .tw-followCard-button.is-following {
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 140px;
  }
  
  .tw-followCard-button.is-following:hover {
    background-color: rgba(255, 0, 0, 0.178);
    color: red;
    border: 1px solid red;
    transition: .3s ease all;
    opacity: 1;
  }
  
  .tw-followCard-button.is-following:hover .tw-followCard-text {
    display: none;
  }
  
  .tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
    display: block;
  }
  
  .tw-followCard-stopFollow {
    display: none;
  }